@import "reset.css";
@import "fonts.css";
* {
 box-sizing: border-box;

 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

header,
.panel,
.timestamp {
  font-family: "Proxima Nova", sans-serif;
}

 h3{
   font-family: "PF Regal", serif;
 }

body > header {
  display: flex;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #f2f2f2;
  background-color: rgb(38, 38, 38);

  font-size: 13px;

  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 21px;
  margin-top: -6px;
  margin-left: 15px;
}

body > header ul {
  display: flex;

  padding-top: 5px;
}

body > header li {
  padding: 15px;

  font-weight: 600;
}

header > ul {
  display: inline-flex;

  justify-content: center;
  align-items: center;
}

.panel {
  position: relative;

  height: 45px;
  padding: 15px;

  border-bottom: 1px solid #ccc;
  background-color: #fff;

  font-weight:600;
}

.panel button{
  position: absolute;
  right: 0;
}

main {
  height: 100vh;
  padding-top: 18px;

  background-color: rgb(242, 242, 242);
}

section {
  width: 97vw;
  margin: 0 auto;

  border: 1px solid #ccc;
  border-top: 4px solid #b88b58;
  background-color: #fff;
}

.top-stories {
  height: 350px;
  padding: 16px 18px;
}

.top-stories__header {
  padding: 16px 18px 0;

  text-transform: uppercase;

  color: gray;

  font-size: 14px;
  font-weight: 600;
}

.container {
  display: flex;

  padding: 0 18px 18px;
}

.card {
  height: 130px;
  margin-top: 15px;
  padding-right: 25px;
}

.is-important {
  display: flex;

  width: 50%;

  flex-flow: column;
}

.is-important h3 {
  font-size: 34px;
}

.right {
  display: flex;

  width: 50%;

  flex-flow: row wrap;
  }

  .right .card {
   display: flex;

   width: 50%;

   flex-flow: column nowrap;
  }

  .right .card h3{
    font-size: 20px;

    flex: 1px;
  }

  .timestamp {
    color: gray;

    font-size: 12px;
  }
