@import "reset.css";

*{
 box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

header,
.panel,
.timestamp{
  font-family: Arial, sans-serif;
}

 h3{
   font-family: Georgia, sans-serif;
 }

body > header{
  display: flex;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: #f2f2f2;
  background-color: rgb(38, 38, 38);

  font-size: 13px;

  justify-content: space-between;
  align-items: center;
}

.logo{
  height: 21px;
  margin-top: -6px;
  margin-left: 15px;
}

body > header ul{
  display: flex;

  padding-top: 5px;
}

body > header li{
  padding: 15px;
}

header > ul {
  display: inline-flex;

  justify-content: center;
  align-items: center;
}

.panel{
  position: relative;

  height: 45px;
  padding: 15px;

  border-bottom: 1px solid #ccc;
  background-color: #fff;

  font-weight: bold;
}

.panel button{
  position: absolute;
  right: 0;
}
